@font-face {
  font-family: 'Raleway';
  src: url(vendor/fonts/Raleway-Regular.ttf);
  src: url(vendor/fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Thin';
  src: url(vendor/fonts/Raleway-Thin.ttf);
  src: url(vendor/fonts/Raleway-Thin.ttf) format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Light';
  src: url(vendor/fonts/Raleway-Light.ttf);
  src: url(vendor/fonts/Raleway-Light.ttf) format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Bold';
  src: url(vendor/fonts/Raleway-Bold.ttf);
  src: url(vendor/fonts/Raleway-Bold.ttf) format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url(vendor/fonts/Raleway-Regular.ttf);
  src: url(vendor/fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Thin';
  src: url(vendor/fonts/Raleway-Thin.ttf);
  src: url(vendor/fonts/Raleway-Thin.ttf) format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Light';
  src: url(vendor/fonts/Raleway-Light.ttf);
  src: url(vendor/fonts/Raleway-Light.ttf) format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Bold';
  src: url(vendor/fonts/Raleway-Bold.ttf);
  src: url(vendor/fonts/Raleway-Bold.ttf) format("truetype");
  font-style: normal; }

html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100%; }

body .video-toggle {
  display: none;
  overflow: hidden;
  position: absolute;
  height: 48px;
  top: 20%;
  right: 0;
  z-index: 20; }
  body .video-toggle .btn-video-toggle {
    position: relative;
    text-align: left;
    width: 159px;
    right: -107px;
    margin-right: 0;
    filter: alpha(opacity=35);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    -webkit-opacity: 0.35;
    -khtml-opacity: 0.35;
    -moz-opacity: 0.35;
    -ms-opacity: 0.35;
    -o-opacity: 0.35;
    opacity: 0.35;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    body .video-toggle .btn-video-toggle:hover {
      margin-right: 10px;
      right: 0;
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-opacity: 1;
      -khtml-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1; }

body #header_hero {
  background: url("images/bg.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  position: relative; }
  body #header_hero .wrapper-vid {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
    body #header_hero .wrapper-vid #bg-vid {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline;
      zoom: 1; }
  body #header_hero .hero-head,
  body #header_hero .hero-body,
  body #header_hero .hero-foot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 1px 1px 3px black; }
  body #header_hero .hero-head {
    width: 50%;
    top: 10%; }
    body #header_hero .hero-head img {
      width: 100%; }
  body #header_hero .hero-body {
    width: 100%;
    padding: 0 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Raleway-Light", sans-serif;
    font-size: 2rem; }
  body #header_hero .hero-foot {
    bottom: 10%;
    text-align: center;
    font-family: "Raleway-Light", sans-serif; }
    body #header_hero .hero-foot p {
      font-size: 1.2rem; }
    body #header_hero .hero-foot .btn-hero {
      text-shadow: none;
      font-family: "Raleway", sans-serif;
      -webkit-border-radius: 8px;
      -khtml-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px; }
  @media (min-width: 576px) {
    body #header_hero .hero-head {
      width: 400px;
      top: 20%; }
    body #header_hero .hero-body {
      max-width: 700px;
      font-size: 2.7rem; }
    body #header_hero .hero-foot > p {
      font-size: 2rem; } }
